<!DOCTYPE html>
<html>
    <head>
        <title>{{ name }}</title>
        <link rel='stylesheet' href='{{ url_for('static', filename='css/style.css') }}'>
    </head>
    <body>
        <a href="{{ link }}">
            <video width="100%" height="100%" autoplay {{ 'onended="location.reload()"'|safe if shuffle else 'loop' }} src="{{ webm }}">
                Your browser does not support HTML5 video.
            </video>
        </a>
    </body>
</html>
